/*
  Discord CSS Debloater
  --------------------
  This modification adds extra filters, fixes, and optional UI cleanups.
  Configure in :root which filters you want active.
*/

/*
:root {
  -----------------------------------------
  Configure changes this stylesheet makes
  Set ones you don't want active to false
  -----------------------------------------

  --\\--enable-debloater-fixes: true;
  Enables fixes for broken or outdated rules
  in the original Debloater by Abbie.
  
  --\\--compact-title-bar: true;
  --\\--compact-input-box: true;
  --\\--compact-context-menu: true;
  --\\--compact-user-menu: true;
  --\\--compact-channel-categories: true;
  --\\--compact-server-list: true;

  --\\--hide-nameplates: true;
  --\\--hide-guild-tags: true;
  --\\--hide-profile-effects: true;
  --\\--hide-avatar-decorations: true;
  --\\--hide-gradient-glow-usernames: true;
  --\\--hide-server-boost-goal: true;
  --\\--hide-server-activity: true;
  --\\--hide-user-activity: true;
  --\\--hide-context-menu-quick-reactions: true;
  --\\--hide-hover-quick-reactions: true;
  --\\--hide-image-edit-button: true;
  --\\--hide-gif-button: true;
  --\\--hide-sticker-button: true;
  --\\--hide-emoji-button: true;
  --\\--hide-apps-button: true;
  --\\--hide-gift-button: true;
  --\\--hide-help-button: true;
  --\\--hide-shop-button: true;
  --\\--hide-nitro-button: true;
  --\\--hide-nitro-upsells: true;
  --\\--hide-vencord-desktop-platform-indicator: true;
  --\\--hide-active-now: true;
  --\\--hide-cluttery-badges: true;
  Hides Quest, HypeSquad, Active Developer,
  and discriminator-related badges.

  --\\--darker-scrollbar: true;
  --\\--darker-hovered-message: true;
  --\\--prevent-sidebar-resizing: true;
  --\\--fix-minor-icon-misalignments: true;

  --------------------------------------------------
  Custom Additions
  --------------------------------------------------

  --\\--hide-threads-button: true;
  --\\--hide-extra-voice-buttons: true;
  --\\--hide-checkpoint-button: true;
  --\\--hide-invite-server-button: true;
  --\\--hide-server-discover-button: true;
  --\\--hide-add-note-button: true;

  --\\--hide-dm-video-button: true;
  --\\--hide-dm-voice-button: true;
  --\\--hide-dm-add-button: true;
  --\\--hide-dm-pins-button: true;
  --\\--hide-dm-show-profile-button: true;
  --\\--hide-devtools-button: true;
}
*/

@import url('https://abbie.github.io/discord-css/import.css');

/* Checkpoint button (discord version of spotify wrapped) */
@container style(--\\--hide-checkpoint-button: true) {
  div[role="button"][aria-label="Checkpoint"] {
    display: none;
  }
}

/* Invite to server button in server header */
@container style(--\\--hide-invite-server-button: true) {
  header[class^="header_"]
    div[role="button"][class^="inviteButton_"] {
      display: none;
  }
}

/* Server discovery button */
@container style(--\\--hide-server-discover-button: true) {
  div[data-list-item-id="guildsnav___guild-discover-button"] {
    display: none;
  }
}

/* Add Note button in user profile (local-only note) */
@container style(--\\--hide-add-note-button: true) {
  div[role="button"][aria-label="Add Note (only visible to you)"] {
    display: none;
  }
}

/* Start video call button */
@container style(--\\--hide-dm-video-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label="Start Video Call"] {
      display: none;
  }
}

/* Start voice call button */
@container style(--\\--hide-dm-voice-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label="Start Voice Call"] {
      display: none;
  }
}

/* Add friends to DM button */
@container style(--\\--hide-dm-add-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label="Add Friends to DM"] {
      display: none;
  }
}

/* Pinned messages button */
@container style(--\\--hide-dm-pins-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label="Pinned Messages"] {
      display: none;
  }
}

/* Show user profile button */
@container style(--\\--hide-dm-show-profile-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label*="Show User Profile"] {
      display: none;
  }
}

/* Threads button on channels (toolbar) */
@container style(--\\--hide-threads-button: true) {
  .toolbar__9293f
    > div[role="button"][aria-label="Threads"] {
      display: none !important;
  }
}

/* Notification Settings Button (toolbar) */
@container style(--\\--hide-notification-settings-button: true) {
  .toolbar__9293f
    > div[role="button"][aria-label="Notification Settings"] {
      display: none !important;
  }
}

/* Pinned messages button on channels (toolbar) */
@container style(--\\--hide-pins-button: true) {
  .toolbar__9293f
    > div[role="button"][aria-label="Pinned Messages"] {
      display: none !important;
  }
}

/* Member List Toggle Button */
@container style(--\\--hide-member-list-button: true) {
  .toolbar__9293f
    > div[role="button"][aria-label*="Member List"] {
      display: none !important;
  }
}

/* Search bar in channel (toolbar) */
@container style(--\\--hide-search-bar: true) {
  .toolbar__9293f
    > .search__49676 {
      display: none !important;
  }
}

/* DevTools button on title bar*/
@container style(--\\--hide-devtools-button: true) {
  .bar_c38106 .trailing_c38106
    > div:has(> div[role="button"][aria-label="DevTools"]) {
      display: none !important;
  }
}

/* Fixes for the original debloater by Abbie.

   Disable --\\--enable-debloater-fixes if this
   causes conflicts or unwanted behavior. */
@container style(--\\--enable-debloater-fixes: true) {
  @container style(--\\--hide-context-menu-quick-reactions: true) {
    div[role="menu"][aria-label="Message Actions"]
      > .scroller_c1e9c4
      > div[role="group"].wrapper_f563df {
        display: none !important;
    }
  }
}
