/*
  Discord CSS Debloater
  --------------------
  This is a modification to add more filters.
  Configure in :root which filters you want active.
*/

/*
:root {
  -----------------------------------------
  Configure changes this stylesheet makes
  Set ones you don't want active to false
  -----------------------------------------
  
  --\\--compact-title-bar: true;
  --\\--compact-input-box: true;
  --\\--compact-context-menu: true;
  --\\--compact-user-menu: true;
  --\\--compact-channel-categories: true;
  --\\--compact-server-list: true;

  --\\--hide-nameplates: true;
  --\\--hide-guild-tags: true;
  --\\--hide-profile-effects: true;
  --\\--hide-avatar-decorations: true;
  --\\--hide-gradient-glow-usernames: true;
  --\\--hide-server-boost-goal: true;
  --\\--hide-server-activity: true;
  --\\--hide-user-activity: true;
  --\\--hide-context-menu-quick-reactions: true;
  --\\--hide-hover-quick-reactions: true;
  --\\--hide-image-edit-button: true;
  --\\--hide-gif-button: true;
  --\\--hide-sticker-button: true;
  --\\--hide-emoji-button: true;
  --\\--hide-apps-button: true;
  --\\--hide-gift-button: true;
  --\\--hide-help-button: true;
  --\\--hide-shop-button: true;
  --\\--hide-nitro-button: true;
  --\\--hide-nitro-upsells: true;
  --\\--hide-vencord-desktop-platform-indicator: true;
  --\\--hide-active-now: true;
  --\\--hide-cluttery-badges: true; /* hides quest, hypesquad, active dev, and discriminator badges 

  --\\--darker-scrollbar: true;
  --\\--darker-hovered-message: true;
  --\\--prevent-sidebar-resizing: true;
  --\\--fix-minor-icon-misalignments: true;

  Custom 
  --\\--hide-invite-server-button: true;
  --\\--hide-server-discover-button: false;
  --\\--hide-add-note-button: true;
  --\\--hide-dm-video-button: true;
  --\\--hide-dm-voice-button: false;
  --\\--hide-dm-add-button: true;
  --\\--hide-dm-pins-button: false;
  --\\--hide-dm-show-profile-button: false;
  --\\--hide-threads-button: true;
  --\\--hide-notification-settings-button: true;
  --\\--hide-pins-button: true;
  --\\--hide-member-list-button: true;
  --\\--hide-search-bar: true;
}
*/

@import url('https://abbie.github.io/discord-css/import.css');

/* Checkpoint Button */
@container style(--\\--hide-checkpoint-button: true) {
  div[role="button"][aria-label="Checkpoint"] {
    display: none;
  }
}

/* Invite Server Button */
@container style(--\\--hide-invite-server-button: true) {
  header[class^="header_"]
    div[role="button"][class^="inviteButton_"] {
      display: none;
  }
}

/* Extra Voice Buttons */
@container style(--\\--hide-extra-voice-buttons: true) {
  div[class*="-micButtonParent"] button[role="switch"] {
    border-radius: var(--radius-sm) !important;
  }
  div[class*="-micButtonParent"] button[role="switch"] ~ button {
    display: none;
  }
}

/* Server Discover Button */
@container style(--\\--hide-server-discover-button: true) {
  div[data-list-item-id="guildsnav___guild-discover-button"] {
    display: none;
  }
}

/* Add Note Button */
@container style(--\\--hide-add-note-button: true) {
  div[role="button"][aria-label="Add Note (only visible to you)"] {
    display: none;
  }
}

/* DM Video Call Button */
@container style(--\\--hide-dm-video-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label="Start Video Call"] {
      display: none;
  }
}

/* DM Voice Call Button */
@container style(--\\--hide-dm-voice-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label="Start Voice Call"] {
      display: none;
  }
}

/* DM Add Friends Button */
@container style(--\\--hide-dm-add-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label="Add Friends to DM"] {
      display: none;
  }
}

/* DM Pinned Messages Button */
@container style(--\\--hide-dm-pins-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label="Pinned Messages"] {
      display: none;
  }
}

/* DM Show User Profile Button */
@container style(--\\--hide-dm-show-profile-button: true) {
  section[aria-label="Channel header"]
    div[role="button"][aria-label*="Show User Profile"] {
      display: none;
  }
}

/* Threads Button */
@container style(--\\--hide-threads-button: true) {
  .toolbar__9293f
    > div[role="button"][aria-label="Threads"] {
      display: none !important;
  }
}

/* Notification Settings Button */
@container style(--\\--hide-notification-settings-button: true) {
  .toolbar__9293f
    > div[role="button"][aria-label="Notification Settings"] {
      display: none !important;
  }
}

/* Pinned Messages Button */
@container style(--\\--hide-pins-button: true) {
  .toolbar__9293f
    > div[role="button"][aria-label="Pinned Messages"] {
      display: none !important;
  }
}

/* Member List Toggle Button */
@container style(--\\--hide-member-list-button: true) {
  .toolbar__9293f
    > div[role="button"][aria-label*="Member List"] {
      display: none !important;
  }
}

/* Search Bar */
@container style(--\\--hide-search-bar: true) {
  .toolbar__9293f
    > .search__49676 {
      display: none !important;
  }
}
